{
	"root": true,

	"extends": "@ljharb/eslint-config/node/0.4",

	"rules": {
		"array-bracket-newline": 0,
		"global-require": 1,
		"no-console": 0,
		"no-invalid-this": 1,
	},

	"overrides": [
		{
			"files": "api.js",
			"rules": {
				"max-lines-per-function": 0,
				"max-params": 0,
				"max-statements": 0,
				"no-process-exit": 0,
			},
		},
	],
}
