{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"global-require": 1,
		"max-lines-per-function": [2, 72],
		"max-statements": 0,
		"no-console": 0,
		"no-invalid-this": 1,
		"no-process-exit": 0
	}
}
